.calcmain {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.calcmain h2 {
  font-size: 2.5rem;
  font-weight: 600;
  padding-bottom: 3rem;
}

.calcborder {
  margin: 2rem;
}

.clcBckgrnd {
  background-color: #f4f3f3;
  border-radius: 0.3rem;
  margin-top: 4rem;
  padding: 1rem;
  width: 30rem;
  box-shadow: 0 9px 15px -3px rgba(0, 0, 0, 0.1);
}

.clcScrn {
  font-size: 2rem;
  font-weight: 600;
  text-align: right;
  background-color: #858694;
  color: #e9f0f4;
  height: 4rem;
  margin-bottom: 0.1rem;
  padding: 0.8rem;
}

.btnsPad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.1rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e0e0e0;
  color: #242424;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  height: 3.5rem;
  padding: 10px;
  cursor: pointer;
}

.btn:hover {
  border: 2px solid #65737e;
}

.zero {
  grid-column: 1/3;
}

.btn2 {
  background: #f5913e;
}
