.Container {
  width: 100%;
  padding: 5rem;
  margin-top: 10rem;
  text-align: center;
}

.Text {
  margin: 0.5rem;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 600;
}

.loading {
  font-size: 1.6rem;
  font-weight: 600;
  color: blue;
}

.Header {
  text-align: left;
  font-size: 3rem;
  font-weight: 600;
  color: brown;
}

.error {
  text-align: center;
  width: 30rem;
  height: 30rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: red;
}
