.Container {
  width: 50%;
    padding-left: 1rem;
    margin-top: 1rem;
    max-height: 18rem;
    overflow-y: auto;
  }
  
  .Text {
    margin: 0.5rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .loading {
    font-size: 1.6rem;
    font-weight: 600;
    color: blue;
  }
  
  .Header {
    font-size: 3rem;
    font-weight: 600;
    color: brown;
  }
  
  .error {
    text-align: center;
    width: 30rem;
    height: 30rem;
    font-size: 1.6rem;
    font-weight: 600;
    color: red;
  }