* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  height: 100vh;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
}
